In [2]:
import yfinance as yf

In [2]:
import pandas as pd

In [38]:
import numpy as np

In [3]:
def comb(s):
  Y2=yf.download(s,'2020-10-06','2022-10-06')
  # Y2 = Y2.rename_axis(index='Date', columns="Date")
  W1=yf.download(s,'2022-09-28','2022-10-06')
  # W1=Y2[Y2["Datefinal_W1"] >= '2022-09-13' and Y2["Date"]<='2022-09-20']
  W2=yf.download(s,'2022-09-21','2022-10-06')
  # W2=Y2[Y2["Date"] >= '2022-09-06' and Y2["Date"]<='2022-09-20']
  W4=yf.download(s,'2022-09-07','2022-10-06')
  # W4=Y2[Y2["Datefinal_W1"] >= '2022-08-23' and Y2["Date"]<='2022-09-20']
  W8=yf.download(s,'2022-08-10','2022-10-06')
  # W8=Y2[Y2["Date"] >= '2022-07-06' and Y2["Date"]<='2022-09-20']022-1
  W16=yf.download(s,'2022-06-15','2022-10-06')
  # W16=Y2[Y2["Date"] >= '2022-05-31' and Y2["Date"]<='2022-09-20']
  M6=yf.download(s,'2021-04-06','2022-10-06')
  # M6=Y2[Y2["Date"] >= '2022-03-22' and Y2["Date"]<='2022-09-20']
  Y1=yf.download(s,'2021-10-06','2022-10-06')
  # Y1=Y2[Y2["Date"] >= '2021-09-06' and Y2["Date"]<='2022-09-20']
  # Y2=yf.download(s,'2020-09-20','2022-09-20')022-1

  k=0.35
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord > k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord > k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord > k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord > k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord > k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord > k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord > k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord > k]

  # P035=256*(final_W1.size*100)/(W1.size)+128*(final_W2.size*100)/(W2.size)+64*(final_W4.size*100)/(W4.size)+32*(final_W8.size*100)/(W8.size)+16*(final_W16.size*100)/(W16.size)+8*final_M6+4*(final_Y1.size*100)/(Y1.size)+2*(final_Y2.size*100)/(Y2.size)
  P035=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))

# For k=0.5
  k=0.5
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord > k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord > k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord > k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord > k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord > k]

  low_ch5= pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord > k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord > k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord > k]

  # P05=256*(final_W1.size*100)/(W1.size)+128*(final_W2.size*100)/(W2.size)+64*(final_W4.size*100)/(W4.size)+32*(final_W8.size*100)/(W8.size)+16*(final_W16.size*100)/(W16.size)+8*final_M6+4*(final_Y1.size*100)/(Y1.size)+2*(final_Y2.size*100)/(Y2.size)
  P05=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))


# For k = 1
  k=1
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord > k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord > k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord > k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord > k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord > k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord > k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord > k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord > k]

  # P1=256*(final_W1.size*100)/(W1.size)+128*(final_W2.size*100)/(W2.size)+64*(final_W4.size*100)/(W4.size)+32*(final_W8.size*100)/(W8.size)+16*(final_W16.size*100)/(W16.size)+8*final_M6+4*(final_Y1.size*100)/(Y1.size)+2*(final_Y2.size*100)/(Y2.size)
  P1=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))
# For k=2
  k=2
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord > k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord > k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord > k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord > k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord > k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord > k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord > k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord > k]

  # P2=256*(final_W1.size*100)/(W1.size)+128*(final_W2.size*100)/(W2.size)+64*(final_W4.size*100)/(W4.size)+32*(final_W8.size*100)/(W8.size)+16*(final_W16.size*100)/(W16.size)+8*final_M6+4*(final_Y1.size*100)/(Y1.size)+2*(final_Y2.size*100)/(Y2.size)
  P2=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))

# For k=3.5
  k=3.5
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord > k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord > k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord > k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord > k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord > k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord > k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord > k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord > k]

  # size*100)/(W16.size)+8*final_M6+4*(final_Y1.size*100)/(Y1.size)+2*(final_Y2.size*100)/(Y2.size)
  P35=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))

# Risk
  k=0.5
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord < k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord < k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord < k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord < k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord < k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord < k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord < k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord < k]
  
  R05=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))


  k=1
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord < k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord < k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord < k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord < k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord < k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord < k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord < k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord < k]
  
  R1=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))

# k=0.3
  k=0.3
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord <= k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord <=k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord <= k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord <= k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord <= k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord <= k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord <= k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord <= k]
  
  R03=256*((final_W1.size*100)/(W1.size))+128*((final_W2.size*100)/(W2.size))+64*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))


# For most negative case 
  k=0
  low_ch = pd.DataFrame(columns=['Lord'])
  low_ch['Lord'] = (((W1['Open']-W1['Low'])*100 )/W1['Open'])
  final_W1=low_ch[low_ch.Lord <= k]

  low_ch1 = pd.DataFrame(columns=['Lord'])
  low_ch1['Lord'] = (((W2['Open']-W2['Low'])*100 )/W2['Open'])
  final_W2=low_ch1[low_ch1.Lord <=k]

  low_ch2 = pd.DataFrame(columns=['Lord'])
  low_ch2['Lord'] = (((W4['Open']-W4['Low'])*100 )/W4['Open'])
  final_W4=low_ch2[low_ch2.Lord <= k]

  low_ch3 = pd.DataFrame(columns=['Lord'])
  low_ch3['Lord'] = (((W8['Open']-W8['Low'])*100 )/W8['Open'])
  final_W8=low_ch3[low_ch3.Lord <= k]

  low_ch4 = pd.DataFrame(columns=['Lord'])
  low_ch4['Lord'] = (((W16['Open']-W16['Low'])*100 )/W16['Open'])
  final_W16=low_ch4[low_ch4.Lord <= k]

  low_ch5 = pd.DataFrame(columns=['Lord'])
  low_ch5['Lord'] = (((M6['Open']-M6['Low'])*100 )/M6['Open'])
  final_M6=low_ch5[low_ch5.Lord <= k]

  low_ch6 = pd.DataFrame(columns=['Lord'])
  low_ch6['Lord'] = (((Y1['Open']-Y1['Low'])*100 )/Y1['Open'])
  final_Y1=low_ch6[low_ch6.Lord <= k]

  low_ch7 = pd.DataFrame(columns=['Lord'])
  low_ch7['Lord'] = (((Y2['Open']-Y2['Low'])*100 )/Y2['Open'])
  final_Y2=low_ch7[low_ch7.Lord <= k]
  
  R0=1024*((final_W1.size*100)/(W1.size))+512*((final_W2.size*100)/(W2.size))+256*((final_W4.size*100)/(W4.size))+32*((final_W8.size*100)/(W8.size))+16*((final_W16.size*100)/(W16.size))+8*((final_M6.size*100)/M6.size)+4*((final_Y1.size*100)/(Y1.size))+2*((final_Y2.size*100)/(Y2.size))

  df2 = {'Stock': s, 'P035':P035, 'P05': P05, 'P1': P1, 'P2':P2, 'P35':P35, 'R05':R05, 'R1':R1, 'R03' :R03, 'R0' : R0}
  return df2

In [4]:
column_names=['Code']
symb=pd.read_csv('harshad.csv',names=['Code'])

In [5]:
symbols=symb.Code.to_list()

In [6]:
print(symb.Code.to_list())

['ABB.NS', 'ACC.NS', 'AUBANK.NS', 'ABBOTINDIA.NS', 'ADANIENT.NS', 'ADANIGREEN.NS', 'ADANIPORTS.NS', 'ATGL.NS', 'ADANITRANS.NS', 'ABCAPITAL.NS', 'ABFRL.NS', 'APLLTD.NS', 'ALKEM.NS', 'AMBUJACEM.NS', 'APOLLOHOSP.NS', 'APOLLOTYRE.NS', 'ASHOKLEY.NS', 'ASIANPAINT.NS', 'ASTRAL.NS', 'AUROPHARMA.NS', 'DMART.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJFINANCE.NS', 'BAJAJFINSV.NS', 'BAJAJHLDNG.NS', 'BALKRISIND.NS', 'BANDHANBNK.NS', 'BANKBARODA.NS', 'BANKINDIA.NS', 'BATAINDIA.NS', 'BERGEPAINT.NS', 'BEL.NS', 'BHARATFORG.NS', 'BHEL.NS', 'BPCL.NS', 'BHARTIARTL.NS', 'BIOCON.NS', 'BOSCHLTD.NS', 'BRITANNIA.NS', 'CANBK.NS', 'CHOLAFIN.NS', 'CIPLA.NS', 'CLEAN.NS', 'COALINDIA.NS', 'COFORGE.NS', 'COLPAL.NS', 'CONCOR.NS', 'COROMANDEL.NS', 'CROMPTON.NS', 'CUMMINSIND.NS', 'DLF.NS', 'DABUR.NS', 'DALBHARAT.NS', 'DEEPAKNTR.NS', 'DIVISLAB.NS', 'DIXON.NS', 'LALPATHLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'EMAMILTD.NS', 'ESCORTS.NS', 'EXIDEIND.NS', 'NYKAA.NS', 'FEDERALBNK.NS', 'FORTIS.NS', 'GAIL.NS', 'GLAND.NS', 'GLENMARK.NS', 'GODREJCP.NS', 'GODREJPROP.NS', 'GRASIM.NS', 'GUJGASLTD.NS', 'GSPL.NS', 'HCLTECH.NS', 'HDFCAMC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HAVELLS.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HAL.NS', 'HINDPETRO.NS', 'HINDUNILVR.NS', 'HINDZINC.NS', 'HONAUT.NS', 'HDFC.NS', 'ICICIBANK.NS', 'ICICIGI.NS', 'ICICIPRULI.NS', 'ISEC.NS', 'IDBI.NS', 'IDFCFIRSTB.NS', 'ITC.NS', 'INDIAMART.NS', 'INDIANB.NS', 'IEX.NS', 'INDHOTEL.NS', 'IOC.NS', 'IRCTC.NS', 'IGL.NS', 'INDUSTOWER.NS', 'INDUSINDBK.NS', 'NAUKRI.NS', 'INFY.NS', 'INDIGO.NS', 'IPCALAB.NS', 'JSWENERGY.NS', 'JSWSTEEL.NS', 'JINDALSTEL.NS', 'JUBLFOOD.NS', 'KOTAKBANK.NS', 'L&TFH.NS', 'LTTS.NS', 'LICHSGFIN.NS', 'LTI.NS', 'LT.NS', 'LAURUSLABS.NS', 'LUPIN.NS', 'MRF.NS', 'M&MFIN.NS', 'M&M.NS', 'MANAPPURAM.NS', 'MARICO.NS', 'MARUTI.NS', 'MFSL.NS', 'MAXHEALTH.NS', 'METROPOLIS.NS', 'MINDTREE.NS', 'MPHASIS.NS', 'MUTHOOTFIN.NS', 'NMDC.NS', 'NTPC.NS', 'NATIONALUM.NS', 'NAVINFLUOR.NS', 'NESTLEIND.NS', 'NAM-INDIA.NS', 'OBEROIRLTY.NS', 'ONGC.NS', 'OIL.NS', 'PAYTM.NS', 'OFSS.NS', 'POLICYBZR.NS', 'PIIND.NS', 'PAGEIND.NS', 'PERSISTENT.NS', 'PETRONET.NS', 'PIDILITIND.NS', 'PEL.NS', 'POLYCAB.NS', 'PFC.NS', 'POWERGRID.NS', 'PRESTIGE.NS', 'PGHH.NS', 'PNB.NS', 'RECLTD.NS', 'RELIANCE.NS', 'SBICARD.NS', 'SBILIFE.NS', 'SRF.NS', 'SHREECEM.NS', 'SRTRANSFIN.NS', 'SIEMENS.NS', 'SONACOMS.NS', 'SBIN.NS', 'SAIL.NS', 'SUNPHARMA.NS', 'SUNTV.NS', 'SYNGENE.NS', 'TVSMOTOR.NS', 'TATACHEM.NS', 'TATACOMM.NS', 'TCS.NS', 'TATACONSUM.NS', 'TATAELXSI.NS', 'TATAMOTORS.NS', 'TATAPOWER.NS', 'TATASTEEL.NS', 'TECHM.NS', 'RAMCOCEM.NS', 'TITAN.NS', 'TORNTPHARM.NS', 'TORNTPOWER.NS', 'TRENT.NS', 'TRIDENT.NS', 'UPL.NS', 'ULTRACEMCO.NS', 'UNIONBANK.NS', 'UBL.NS', 'MCDOWELL-N.NS', 'VBL.NS', 'VEDL.NS', 'IDEA.NS', 'VOLTAS.NS', 'WHIRLPOOL.NS', 'WIPRO.NS', 'YESBANK.NS', 'ZEEL.NS', 'ZOMATO.NS', 'ZYDUSLIFE.NS']

In [7]:
finale=pd.DataFrame(columns=['Stock','P035','P05','P1','P2','P35','R05','R1','R03','R0'])

In [8]:
combine=['ADANITRANS.NS','JSWENERGY.NS','ATGL.NS','BOSCHLTD.NS','ADANIPORTS.NS','APOLLOTYRE.NS','ADANIENT.NS','ADANIGREEN.NS','GODREJPROP.NS','GUJGASLTD.NS','MANAPPURAM.NS','ASHOKLEY.NS','INDIGO.NS','BANDHANBNK.NS','ACC.NS','BHARATFORG.NS','PAYTM.NS','IGL.NS','PGHH.NS','ABB.NS']

In [31]:
def func(s):
    l=[]
    day1=yf.download(s,'2022-10-06','2022-10-07',interval='1m')
    day2=yf.download(s,'2022-10-07','2022-10-08',interval='1m')
    day3=yf.download(s,'2022-10-10','2022-10-11',interval='1m')
    day4=yf.download(s,'2022-10-11','2022-10-12',interval='1m')
    day5=yf.download(s,'2022-10-12','2022-10-13',interval='1m')
    
    day1=day1.reset_index()
    day1['Only_time']=day1['Datetime'].apply(lambda x:x.time)
    x=day1[day1['Low']==day1['Low'].min()]['Only_time']
    l.append(x.values[0])
    
    day2=day2.reset_index()
    day2['Only_time']=day2['Datetime'].apply(lambda x:x.time)
    x=day2[day2['Low']==day2['Low'].min()]['Only_time']
    l.append(x.values[0])
    
    day3=day3.reset_index()
    day3['Only_time']=day3['Datetime'].apply(lambda x:x.time)
    x=day3[day3['Low']==day3['Low'].min()]['Only_time']
    l.append(x.values[0])
    
    day4=day4.reset_index()
    day4['Only_time']=day4['Datetime'].apply(lambda x:x.time)
    x=day4[day4['Low']==day4['Low'].min()]['Only_time']
    l.append(x.values[0])
    
    day5=day5.reset_index()
    day5['Only_time']=day5['Datetime'].apply(lambda x:x.time)
    x=day5[day5['Low']==day5['Low'].min()]['Only_time']
    l.append(x.values[0])
    
    dict1={
        'Stock':s,
        '2022-10-06':[l[0]],
        '2022-10-07':[l[1]],
        '2022-10-10':[l[2]],
        '2022-10-11':[l[3]],
        '2022-10-12':[l[4]]
    }
    return dict1

In [32]:
df=pd.DataFrame(columns=['Stock','2022-10-06','2022-10-07','2022-10-10','2022-10-11','2022-10-12'])

In [33]:
for i in combine:
    print(i)
    x=pd.DataFrame(func(i))
    df=pd.concat([df,x])

ADANITRANS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JSWENERGY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ATGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIPORTS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIENT.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIGREEN.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GODREJPROP.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MANAPPURAM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BANDHANBNK.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BHARATFORG.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PAYTM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PGHH.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [34]:
df

           Stock 2022-10-06 2022-10-07 2022-10-10 2022-10-11 2022-10-12
0  ADANITRANS.NS   09:36:00   14:05:00   15:20:00   13:33:00   12:59:00
0   JSWENERGY.NS   09:27:00   09:15:00   09:21:00   15:29:00   10:53:00
0        ATGL.NS   09:15:00   13:39:00   09:19:00   09:55:00   09:21:00
0    BOSCHLTD.NS   14:34:00   14:31:00   09:56:00   15:29:00   10:58:00
0  ADANIPORTS.NS   09:40:00   12:04:00   09:19:00   15:27:00   11:12:00
0  APOLLOTYRE.NS   15:29:00   11:23:00   09:19:00   15:01:00   11:12:00
0    ADANIENT.NS   09:25:00   12:10:00   14:03:00   09:15:00   13:14:00
0  ADANIGREEN.NS   09:18:00   12:01:00   09:15:00   15:15:00   11:22:00
0  GODREJPROP.NS   09:15:00   11:01:00   09:20:00   15:20:00   11:18:00
0   GUJGASLTD.NS   10:08:00   12:30:00   09:15:00   15:24:00   11:15:00
0  MANAPPURAM.NS   09:15:00   09:33:00   10:40:00   15:20:00   09:19:00
0    ASHOKLEY.NS   15:20:00   09:17:00   10:13:00   15:20:00   10:59:00
0      INDIGO.NS   14:52:00   09:41:00   09:18:00   15:29:00   13:40:00
0  BANDHANBNK.NS   09:15:00   09:42:00   09:24:00   15:25:00   11:10:00
0         ACC.NS   09:38:00   11:32:00   14:06:00   15:01:00   11:10:00
0  BHARATFORG.NS   09:15:00   09:15:00   09:21:00   15:29:00   11:11:00
0       PAYTM.NS   09:18:00   09:17:00   09:15:00   15:24:00   10:51:00
0         IGL.NS   15:16:00   12:28:00   14:27:00   15:29:00   11:17:00
0        PGHH.NS   14:23:00   12:31:00   09:25:00   15:19:00   09:28:00
0         ABB.NS   09:15:00   09:32:00   10:05:00   15:29:00   09:22:00

In [35]:
df.set_index('Stock',inplace=True)

In [36]:
#Table showing time at which minimum price was hit
df.head(20)

              2022-10-06 2022-10-07 2022-10-10 2022-10-11 2022-10-12
Stock
ADANITRANS.NS   09:36:00   14:05:00   15:20:00   13:33:00   12:59:00
JSWENERGY.NS    09:27:00   09:15:00   09:21:00   15:29:00   10:53:00
ATGL.NS         09:15:00   13:39:00   09:19:00   09:55:00   09:21:00
BOSCHLTD.NS     14:34:00   14:31:00   09:56:00   15:29:00   10:58:00
ADANIPORTS.NS   09:40:00   12:04:00   09:19:00   15:27:00   11:12:00
APOLLOTYRE.NS   15:29:00   11:23:00   09:19:00   15:01:00   11:12:00
ADANIENT.NS     09:25:00   12:10:00   14:03:00   09:15:00   13:14:00
ADANIGREEN.NS   09:18:00   12:01:00   09:15:00   15:15:00   11:22:00
GODREJPROP.NS   09:15:00   11:01:00   09:20:00   15:20:00   11:18:00
GUJGASLTD.NS    10:08:00   12:30:00   09:15:00   15:24:00   11:15:00
MANAPPURAM.NS   09:15:00   09:33:00   10:40:00   15:20:00   09:19:00
ASHOKLEY.NS     15:20:00   09:17:00   10:13:00   15:20:00   10:59:00
INDIGO.NS       14:52:00   09:41:00   09:18:00   15:29:00   13:40:00
BANDHANBNK.NS   09:15:00   09:42:00   09:24:00   15:25:00   11:10:00
ACC.NS          09:38:00   11:32:00   14:06:00   15:01:00   11:10:00
BHARATFORG.NS   09:15:00   09:15:00   09:21:00   15:29:00   11:11:00
PAYTM.NS        09:18:00   09:17:00   09:15:00   15:24:00   10:51:00
IGL.NS          15:16:00   12:28:00   14:27:00   15:29:00   11:17:00
PGHH.NS         14:23:00   12:31:00   09:25:00   15:19:00   09:28:00
ABB.NS          09:15:00   09:32:00   10:05:00   15:29:00   09:22:00

In [113]:
#Now let's find the table for k=.35
df2=pd.DataFrame(columns=['Stock','2022-10-06','2022-10-07','2022-10-10','2022-10-11','2022-10-12'])

In [114]:
df2

Empty DataFrame
Columns: [Stock, 2022-10-06, 2022-10-07, 2022-10-10, 2022-10-11, 2022-10-12]
Index: []

In [112]:
day11=yf.download('ADANITRANS.NS','2022-10-10','2022-10-11')

[*********************100%***********************]  1 of 1 completed

In [122]:
y=(day11['Open'].values[0])*(1-.0035)
y

3208.73

In [116]:
min1=yf.download('ADANITRANS.NS','2022-10-10','2022-10-11',interval='1m')

[*********************100%***********************]  1 of 1 completed

In [117]:
min1=min1.reset_index()

In [118]:
min1['Only_time']=min1['Datetime'].apply(lambda x:x.time)

In [88]:
l=[]

In [119]:
min1[(y>=min1['Low'])&(y<=min1['Open'])]['Only_time']

3      09:18:00
5      09:20:00
10     09:25:00
33     09:48:00
34     09:49:00
42     09:57:00
43     09:58:00
297    14:12:00
301    14:16:00
302    14:17:00
304    14:19:00
307    14:22:00
346    15:01:00
347    15:02:00
348    15:03:00
Name: Only_time, dtype: object

In [89]:
l.append(x)

In [90]:
l[0]

7    09:22:00
9    09:24:00
Name: Only_time, dtype: object

In [125]:
def func2(s):
    l=[]
    day1=yf.download(s,'2022-10-06','2022-10-07',interval='1m')
    day11=yf.download(s,'2022-10-06','2022-10-07')
    day2=yf.download(s,'2022-10-07','2022-10-08',interval='1m')
    day22=yf.download(s,'2022-10-07','2022-10-08')
    day3=yf.download(s,'2022-10-10','2022-10-11',interval='1m')
    day33=yf.download(s,'2022-10-10','2022-10-11')
    day4=yf.download(s,'2022-10-11','2022-10-12',interval='1m')
    day44=yf.download(s,'2022-10-11','2022-10-12')
    day5=yf.download(s,'2022-10-12','2022-10-13',interval='1m')
    day55=yf.download(s,'2022-10-12','2022-10-13')
    
    x1=(day11['Open'].values[0])*(1-.0035)
    x2=(day22['Open'].values[0])*(1-.0035)    
    x3=(day33['Open'].values[0])*(1-.0035)    
    x4=(day44['Open'].values[0])*(1-.0035)    
    x5=(day55['Open'].values[0])*(1-.0035)    
        
    
    day1=day1.reset_index()
    day1['Only_time']=day1['Datetime'].apply(lambda x:x.time)
    x=day1[(x1>day1['Low'])&(x1<day1['High'])]['Only_time']
    l.append(x)
    
    day2=day2.reset_index()
    day2['Only_time']=day2['Datetime'].apply(lambda x:x.time)
    x=day2[(x2>day2['Low'])&(x2<day2['High'])]['Only_time']
    l.append(x)
    
    day3=day3.reset_index()
    day3['Only_time']=day3['Datetime'].apply(lambda x:x.time)
    x=day3[(x3>day3['Low'])&(x3<day3['High'])]['Only_time']
    l.append(x)
    
    day4=day4.reset_index()
    day4['Only_time']=day4['Datetime'].apply(lambda x:x.time)
    x=day4[(x4>day4['Low'])&(x4<day4['High'])]['Only_time']
    l.append(x)
    
    day5=day5.reset_index()
    day5['Only_time']=day5['Datetime'].apply(lambda x:x.time)
    x=day5[(x5>day5['Low'])&(x5<day5['High'])]['Only_time']
    l.append(x)
    
    dict1={
        'Stock':s,
        '2022-10-06':[l[0]],
        '2022-10-07':[l[1]],
        '2022-10-10':[l[2]],
        '2022-10-11':[l[3]],
        '2022-10-12':[l[4]]
    }
    return dict1

In [57]:
df2

Empty DataFrame
Columns: [Stock, 2022-10-06, 2022-10-07, 2022-10-10, 2022-10-11, 2022-10-12]
Index: []

In [126]:
a=pd.DataFrame(func2('PAYTM.NS'))

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [127]:
a

,Stock,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
0,PAYTM.NS,1 09:16:00 2 09:17:00 3 09:18:00 Name...,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",41 09:56:00 111 11:06:00 112 11:07:0...,5 09:20:00 10 09:25:00 11 09:26:00 2...

In [128]:
for i in combine:
    print(i)
    a=pd.DataFrame(func2(i))
    df2=pd.concat([df2,a])

ADANITRANS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JSWENERGY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ATGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIPORTS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIENT.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIGREEN.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GODREJPROP.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MANAPPURAM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BANDHANBNK.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BHARATFORG.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PAYTM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PGHH.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [136]:
df2.set_index('Stock',inplace=True)

In [141]:
df2.loc['ADANITRANS.NS']['2022-10-07']

0     09:15:00
2     09:17:00
6     09:21:00
10    09:25:00
11    09:26:00
12    09:27:00
43    09:58:00
45    10:00:00
Name: Only_time, dtype: object

In [166]:
df2.loc['ADANITRANS.NS']['2022-10-06']

0      09:15:00
1      09:16:00
3      09:18:00
6      09:21:00
33     09:48:00
41     09:56:00
42     09:57:00
43     09:58:00
44     09:59:00
48     10:03:00
50     10:05:00
128    11:23:00
130    11:25:00
134    11:29:00
135    11:30:00
136    11:31:00
137    11:32:00
138    11:33:00
140    11:35:00
142    11:37:00
146    11:41:00
147    11:42:00
317    14:32:00
319    14:34:00
320    14:35:00
323    14:38:00
325    14:40:00
330    14:45:00
331    14:46:00
341    14:56:00
342    14:57:00
365    15:20:00
366    15:21:00
367    15:22:00
369    15:24:00
370    15:25:00
373    15:28:00
374    15:29:00
Name: Only_time, dtype: object

In [142]:
df2

,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
Stock,,,,,
ADANITRANS.NS,0 09:15:00 1 09:16:00 3 09:18:0...,0 09:15:00 2 09:17:00 6 09:21:00 1...,3 09:18:00 4 09:19:00 5 09:20:0...,"1 09:16:00 Name: Only_time, dtype: object",4 09:19:00 5 09:20:00 6 09:21:0...
JSWENERGY.NS,10 09:25:00 12 09:27:00 13 09:28:00 1...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 12 09:27:0...,36 09:51:00 37 09:52:00 40 09:55:00 5...,6 09:21:00 7 09:22:00 46 10:01:0...
ATGL.NS,"0 09:15:00 Name: Only_time, dtype: object","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 2 09:17:00 3 09:18:0...,0 09:15:00 134 11:29:00 135 11:30:0...,"6 09:21:00 Name: Only_time, dtype: object"
BOSCHLTD.NS,300 14:31:00 301 14:32:00 302 14:33:0...,0 09:15:00 2 09:17:00 17 09:32:0...,6 09:21:00 34 09:50:00 35 09:51:00 5...,36 09:54:00 45 10:04:00 46 10:05:0...,54 10:10:00 74 10:30:00 118 11:14:0...
ADANIPORTS.NS,0 09:15:00 1 09:16:00 40 09:55:0...,15 09:30:00 19 09:34:00 20 09:35:0...,0 09:15:00 1 09:16:00 2 09:17:0...,38 09:53:00 39 09:54:00 41 09:56:0...,7 09:22:00 50 10:05:00 51 10:06:0...
APOLLOTYRE.NS,1 09:16:00 86 10:41:00 87 10:42:0...,25 09:40:00 27 09:42:00 28 09:43:0...,0 09:15:00 2 09:17:00 14 09:29:00 7...,208 12:43:00 210 12:45:00 213 12:49:0...,3 09:18:00 4 09:19:00 5 09:20:0...
ADANIENT.NS,0 09:15:00 40 09:55:00 43 09:58:0...,26 09:41:00 27 09:42:00 79 10:34:0...,284 13:59:00 285 14:00:00 287 14:02:0...,"Series([], Name: Only_time, dtype: object)",1 09:16:00 3 09:18:00 4 09:19:00 1...
ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 4 09:19:00 7 09:22:0...,0 09:15:00 144 11:39:00 145 11:40:0...,0 09:15:00 1 09:16:00 7 09:22:0...,6 09:21:00 7 09:22:00 9 09:24:00 1...
GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 5 09:20:0...,3 09:18:00 5 09:20:00 6 09:21:0...,58 10:13:00 73 10:28:00 74 10:29:00 7...,1 09:16:00 10 09:25:00 11 09:26:0...
GUJGASLTD.NS,29 09:44:00 30 09:45:00 31 09:46:00 3...,0 09:15:00 1 09:16:00 15 09:30:00 2...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 2 09:17:00 Name...,6 09:21:00 16 09:31:00 17 09:32:00 2...
MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 4 09:19:0...,0 09:15:00 1 09:16:00 17 09:32:0...,0 09:15:00 34 09:49:00 35 09:50:0...,"Series([], Name: Only_time, dtype: object)"
ASHOKLEY.NS,0 09:15:00 324 14:39:00 329 14:44:0...,1 09:16:00 4 09:19:00 5 09:20:00 6...,"0 09:15:00 Name: Only_time, dtype: object","0 09:15:00 Name: Only_time, dtype: object",1 09:16:00 7 09:22:00 8 09:23:0...
INDIGO.NS,0 09:15:00 26 09:41:00 30 09:45:00 3...,"0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 22 09:37:00 23 09:38:00 3...,39 09:54:00 40 09:55:00 41 09:56:0...,0 09:15:00 1 09:16:00 24 09:39:00 2...
BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 209 12:44:0...,0 09:15:00 164 11:59:00 165 12:00:0...,4 09:19:00 34 09:49:00 35 09:50:0...,1 09:16:00 2 09:17:00 6 09:21:0...
ACC.NS,18 09:33:00 19 09:34:00 43 09:58:00 4...,101 10:56:00 102 10:57:00 107 11:02:0...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 4 09:19:0...,1 09:16:00 2 09:17:00 3 09:18:0...
BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 1 09:16:00 18 09:33:00 1...,0 09:15:00 1 09:16:00 2 09:17:00 4...,16 09:31:00 17 09:32:00 21 09:36:00 2...
PAYTM.NS,1 09:16:00 2 09:17:00 3 09:18:00 Name...,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",41 09:56:00 111 11:06:00 112 11:07:0...,5 09:20:00 10 09:25:00 11 09:26:00 2...
IGL.NS,22 09:37:00 23 09:38:00 24 09:39:00 2...,15 09:30:00 16 09:31:00 17 09:32:0...,"Series([], Name: Only_time, dtype: object)",1 09:16:00 2 09:17:00 3 09:18:00 4...,0 09:15:00 26 09:41:00 27 09:42:0...
PGHH.NS,"1 09:16:00 Name: Only_time, dtype: object","0 09:15:00 1 09:16:00 Name: Only_time, d...","Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 1 09:16:00 2 09:17:00 1...
ABB.NS,0 09:15:00 7 09:22:00 9 09:24:00 1...,16 09:31:00 19 09:34:00 26 09:41:0...,"0 09:15:00 Name: Only_time, dtype: object",58 10:13:00 59 10:14:00 60 10:15:0...,2 09:17:00 18 09:33:00 19 09:34:0...

In [143]:
#For K=.5
def func2(s):
    l=[]
    day1=yf.download(s,'2022-10-06','2022-10-07',interval='1m')
    day11=yf.download(s,'2022-10-06','2022-10-07')
    day2=yf.download(s,'2022-10-07','2022-10-08',interval='1m')
    day22=yf.download(s,'2022-10-07','2022-10-08')
    day3=yf.download(s,'2022-10-10','2022-10-11',interval='1m')
    day33=yf.download(s,'2022-10-10','2022-10-11')
    day4=yf.download(s,'2022-10-11','2022-10-12',interval='1m')
    day44=yf.download(s,'2022-10-11','2022-10-12')
    day5=yf.download(s,'2022-10-12','2022-10-13',interval='1m')
    day55=yf.download(s,'2022-10-12','2022-10-13')
    
    x1=(day11['Open'].values[0])*(1-.005)
    x2=(day22['Open'].values[0])*(1-.005)    
    x3=(day33['Open'].values[0])*(1-.005)    
    x4=(day44['Open'].values[0])*(1-.005)    
    x5=(day55['Open'].values[0])*(1-.005)    
        
    
    day1=day1.reset_index()
    day1['Only_time']=day1['Datetime'].apply(lambda x:x.time)
    x=day1[(x1>day1['Low'])&(x1<day1['High'])]['Only_time']
    l.append(x)
    
    day2=day2.reset_index()
    day2['Only_time']=day2['Datetime'].apply(lambda x:x.time)
    x=day2[(x2>day2['Low'])&(x2<day2['High'])]['Only_time']
    l.append(x)
    
    day3=day3.reset_index()
    day3['Only_time']=day3['Datetime'].apply(lambda x:x.time)
    x=day3[(x3>day3['Low'])&(x3<day3['High'])]['Only_time']
    l.append(x)
    
    day4=day4.reset_index()
    day4['Only_time']=day4['Datetime'].apply(lambda x:x.time)
    x=day4[(x4>day4['Low'])&(x4<day4['High'])]['Only_time']
    l.append(x)
    
    day5=day5.reset_index()
    day5['Only_time']=day5['Datetime'].apply(lambda x:x.time)
    x=day5[(x5>day5['Low'])&(x5<day5['High'])]['Only_time']
    l.append(x)
    
    dict1={
        'Stock':s,
        '2022-10-06':[l[0]],
        '2022-10-07':[l[1]],
        '2022-10-10':[l[2]],
        '2022-10-11':[l[3]],
        '2022-10-12':[l[4]]
    }
    return dict1

In [144]:
df3=pd.DataFrame(columns=['Stock','2022-10-06','2022-10-07','2022-10-10','2022-10-11','2022-10-12'])

In [145]:
for i in combine:
    print(i)
    a=pd.DataFrame(func2(i))
    df3=pd.concat([df3,a])

ADANITRANS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JSWENERGY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ATGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIPORTS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIENT.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIGREEN.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GODREJPROP.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MANAPPURAM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BANDHANBNK.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BHARATFORG.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PAYTM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PGHH.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [147]:
df3

,Stock,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
0,ADANITRANS.NS,0 09:15:00 1 09:16:00 3 09:18:0...,0 09:15:00 7 09:22:00 9 09:24:00 1...,3 09:18:00 4 09:19:00 297 14:12:0...,"0 09:15:00 1 09:16:00 Name: Only_time, d...",53 10:08:00 54 10:09:00 59 10:14:0...
0,JSWENERGY.NS,"12 09:27:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 12 09:27:0...,40 09:55:00 54 10:09:00 55 10:10:00 5...,7 09:22:00 46 10:01:00 310 14:28:0...
0,ATGL.NS,"Series([], Name: Only_time, dtype: object)","0 09:15:00 5 09:20:00 Name: Only_time, d...",0 09:15:00 3 09:18:00 11 09:26:0...,0 09:15:00 119 11:14:00 127 11:22:0...,"Series([], Name: Only_time, dtype: object)"
0,BOSCHLTD.NS,"Series([], Name: Only_time, dtype: object)",221 13:28:00 222 13:29:00 236 13:43:0...,38 09:54:00 41 09:57:00 52 10:08:00 N...,41 10:00:00 42 10:01:00 43 10:02:0...,55 10:11:00 56 10:12:00 65 10:21:0...
0,ADANIPORTS.NS,0 09:15:00 1 09:16:00 2 09:17:0...,17 09:32:00 18 09:33:00 23 09:38:0...,0 09:15:00 2 09:17:00 11 09:26:0...,45 10:00:00 46 10:01:00 58 10:13:0...,58 10:13:00 59 10:14:00 60 10:15:0...
0,APOLLOTYRE.NS,96 10:51:00 97 10:52:00 98 10:53:0...,79 10:34:00 94 10:49:00 151 11:46:0...,2 09:17:00 11 09:26:00 12 09:27:00 1...,240 13:16:00 241 13:17:00 242 13:18:0...,2 09:17:00 115 11:10:00 116 11:11:0...
0,ADANIENT.NS,0 09:15:00 1 09:16:00 33 09:48:0...,99 10:54:00 100 10:55:00 109 11:04:0...,288 14:03:00 289 14:04:00 291 14:06:0...,"Series([], Name: Only_time, dtype: object)",4 09:19:00 5 09:20:00 6 09:21:00 7...
0,ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 4 09:19:00 8 09:23:0...,0 09:15:00 143 11:38:00 144 11:39:0...,0 09:15:00 7 09:22:00 8 09:23:0...,6 09:21:00 50 10:05:00 54 10:09:00 5...
0,GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 6 09:21:0...,"5 09:20:00 Name: Only_time, dtype: object","75 10:30:00 Name: Only_time, dtype: object",1 09:16:00 2 09:17:00 4 09:19:0...
0,GUJGASLTD.NS,30 09:45:00 36 09:51:00 37 09:52:00 3...,"22 09:37:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)","2 09:17:00 Name: Only_time, dtype: object",6 09:21:00 7 09:22:00 8 09:23:00 9...
0,MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 14 09:29:0...,0 09:15:00 9 09:24:00 10 09:25:0...,36 09:51:00 37 09:52:00 39 09:54:0...,"Series([], Name: Only_time, dtype: object)"
0,ASHOKLEY.NS,324 14:39:00 325 14:40:00 326 14:41:0...,2 09:17:00 4 09:19:00 7 09:22:00 1...,"0 09:15:00 Name: Only_time, dtype: object","0 09:15:00 Name: Only_time, dtype: object",1 09:16:00 7 09:22:00 9 09:24:0...
0,INDIGO.NS,2 09:17:00 3 09:18:00 6 09:21:00 1...,0 09:15:00 2 09:17:00 3 09:18:00 Name...,0 09:15:00 14 09:29:00 15 09:30:00 1...,50 10:05:00 51 10:06:00 53 10:08:0...,0 09:15:00 1 09:16:00 2 09:17:00 2...
0,BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 3 09:18:0...,0 09:15:00 15 09:30:00 53 10:08:0...,4 09:19:00 36 09:51:00 38 09:53:0...,101 10:56:00 149 11:44:00 150 11:45:0...
0,ACC.NS,19 09:34:00 26 09:41:00 27 09:42:00 2...,102 10:57:00 110 11:05:00 111 11:06:0...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 10 09:25:00 11 09:26:0...,2 09:17:00 4 09:19:00 10 09:25:0...
0,BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 2 09:17:00 17 09:32:00 1...,0 09:15:00 5 09:20:00 6 09:21:00 1...,62 10:17:00 78 10:33:00 80 10:35:00 8...
0,PAYTM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",111 11:06:00 119 11:14:00 124 11:19:0...,5 09:20:00 6 09:21:00 7 09:22:00 8...
0,IGL.NS,29 09:44:00 30 09:45:00 31 09:46:00 N...,75 10:30:00 78 10:33:00 79 10:34:0...,"0 09:15:00 Name: Only_time, dtype: object","13 09:28:00 Name: Only_time, dtype: object",0 09:15:00 1 09:16:00 2 09:17:0...
0,PGHH.NS,1 09:16:00 247 13:56:00 328 15:19:0...,1 09:16:00 2 09:17:00 3 09:18:00 8 ...,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)"
0,ABB.NS,0 09:15:00 7 09:22:00 8 09:23:00 1...,16 09:31:00 18 09:33:00 108 11:03:0...,"0 09:15:00 1 09:16:00 Name: Only_time, d...",58 10:13:00 320 14:38:00 321 14:39:0...,2 09:17:00 3 09:18:00 13 09:28:0...

In [146]:
#for k=1
def func2(s):
    l=[]
    day1=yf.download(s,'2022-10-06','2022-10-07',interval='1m')
    day11=yf.download(s,'2022-10-06','2022-10-07')
    day2=yf.download(s,'2022-10-07','2022-10-08',interval='1m')
    day22=yf.download(s,'2022-10-07','2022-10-08')
    day3=yf.download(s,'2022-10-10','2022-10-11',interval='1m')
    day33=yf.download(s,'2022-10-10','2022-10-11')
    day4=yf.download(s,'2022-10-11','2022-10-12',interval='1m')
    day44=yf.download(s,'2022-10-11','2022-10-12')
    day5=yf.download(s,'2022-10-12','2022-10-13',interval='1m')
    day55=yf.download(s,'2022-10-12','2022-10-13')
    
    x1=(day11['Open'].values[0])*(1-.01)
    x2=(day22['Open'].values[0])*(1-.01)    
    x3=(day33['Open'].values[0])*(1-.01)    
    x4=(day44['Open'].values[0])*(1-.01)    
    x5=(day55['Open'].values[0])*(1-.01)    
        
    
    day1=day1.reset_index()
    day1['Only_time']=day1['Datetime'].apply(lambda x:x.time)
    x=day1[(x1>day1['Low'])&(x1<day1['High'])]['Only_time']
    l.append(x)
    
    day2=day2.reset_index()
    day2['Only_time']=day2['Datetime'].apply(lambda x:x.time)
    x=day2[(x2>day2['Low'])&(x2<day2['High'])]['Only_time']
    l.append(x)
    
    day3=day3.reset_index()
    day3['Only_time']=day3['Datetime'].apply(lambda x:x.time)
    x=day3[(x3>day3['Low'])&(x3<day3['High'])]['Only_time']
    l.append(x)
    
    day4=day4.reset_index()
    day4['Only_time']=day4['Datetime'].apply(lambda x:x.time)
    x=day4[(x4>day4['Low'])&(x4<day4['High'])]['Only_time']
    l.append(x)
    
    day5=day5.reset_index()
    day5['Only_time']=day5['Datetime'].apply(lambda x:x.time)
    x=day5[(x5>day5['Low'])&(x5<day5['High'])]['Only_time']
    l.append(x)
    
    dict1={
        'Stock':s,
        '2022-10-06':[l[0]],
        '2022-10-07':[l[1]],
        '2022-10-10':[l[2]],
        '2022-10-11':[l[3]],
        '2022-10-12':[l[4]]
    }
    return dict1

In [149]:
df4=pd.DataFrame(columns=['Stock','2022-10-06','2022-10-07','2022-10-10','2022-10-11','2022-10-12'])

In [150]:
for i in combine:
    print(i)
    a=pd.DataFrame(func2(i))
    df4=pd.concat([df4,a])

ADANITRANS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JSWENERGY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ATGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIPORTS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIENT.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIGREEN.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GODREJPROP.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MANAPPURAM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BANDHANBNK.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BHARATFORG.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PAYTM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PGHH.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [151]:
#For K=2
def func2(s):
    l=[]
    day1=yf.download(s,'2022-10-06','2022-10-07',interval='1m')
    day11=yf.download(s,'2022-10-06','2022-10-07')
    day2=yf.download(s,'2022-10-07','2022-10-08',interval='1m')
    day22=yf.download(s,'2022-10-07','2022-10-08')
    day3=yf.download(s,'2022-10-10','2022-10-11',interval='1m')
    day33=yf.download(s,'2022-10-10','2022-10-11')
    day4=yf.download(s,'2022-10-11','2022-10-12',interval='1m')
    day44=yf.download(s,'2022-10-11','2022-10-12')
    day5=yf.download(s,'2022-10-12','2022-10-13',interval='1m')
    day55=yf.download(s,'2022-10-12','2022-10-13')
    
    x1=(day11['Open'].values[0])*(1-.02)
    x2=(day22['Open'].values[0])*(1-.02)    
    x3=(day33['Open'].values[0])*(1-.02)    
    x4=(day44['Open'].values[0])*(1-.02)    
    x5=(day55['Open'].values[0])*(1-.02)    
        
    
    day1=day1.reset_index()
    day1['Only_time']=day1['Datetime'].apply(lambda x:x.time)
    x=day1[(x1>day1['Low'])&(x1<day1['High'])]['Only_time']
    l.append(x)
    
    day2=day2.reset_index()
    day2['Only_time']=day2['Datetime'].apply(lambda x:x.time)
    x=day2[(x2>day2['Low'])&(x2<day2['High'])]['Only_time']
    l.append(x)
    
    day3=day3.reset_index()
    day3['Only_time']=day3['Datetime'].apply(lambda x:x.time)
    x=day3[(x3>day3['Low'])&(x3<day3['High'])]['Only_time']
    l.append(x)
    
    day4=day4.reset_index()
    day4['Only_time']=day4['Datetime'].apply(lambda x:x.time)
    x=day4[(x4>day4['Low'])&(x4<day4['High'])]['Only_time']
    l.append(x)
    
    day5=day5.reset_index()
    day5['Only_time']=day5['Datetime'].apply(lambda x:x.time)
    x=day5[(x5>day5['Low'])&(x5<day5['High'])]['Only_time']
    l.append(x)
    
    dict1={
        'Stock':s,
        '2022-10-06':[l[0]],
        '2022-10-07':[l[1]],
        '2022-10-10':[l[2]],
        '2022-10-11':[l[3]],
        '2022-10-12':[l[4]]
    }
    return dict1

In [152]:
df5=pd.DataFrame(columns=['Stock','2022-10-06','2022-10-07','2022-10-10','2022-10-11','2022-10-12'])

In [153]:
for i in combine:
    print(i)
    a=pd.DataFrame(func2(i))
    df5=pd.concat([df5,a])

ADANITRANS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JSWENERGY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ATGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIPORTS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIENT.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIGREEN.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GODREJPROP.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MANAPPURAM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BANDHANBNK.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BHARATFORG.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PAYTM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PGHH.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [154]:
def func2(s):
    l=[]
    day1=yf.download(s,'2022-10-06','2022-10-07',interval='1m')
    day11=yf.download(s,'2022-10-06','2022-10-07')
    day2=yf.download(s,'2022-10-07','2022-10-08',interval='1m')
    day22=yf.download(s,'2022-10-07','2022-10-08')
    day3=yf.download(s,'2022-10-10','2022-10-11',interval='1m')
    day33=yf.download(s,'2022-10-10','2022-10-11')
    day4=yf.download(s,'2022-10-11','2022-10-12',interval='1m')
    day44=yf.download(s,'2022-10-11','2022-10-12')
    day5=yf.download(s,'2022-10-12','2022-10-13',interval='1m')
    day55=yf.download(s,'2022-10-12','2022-10-13')
    
    x1=(day11['Open'].values[0])*(1-.035)
    x2=(day22['Open'].values[0])*(1-.035)    
    x3=(day33['Open'].values[0])*(1-.035)    
    x4=(day44['Open'].values[0])*(1-.035)    
    x5=(day55['Open'].values[0])*(1-.035)    
        
    
    day1=day1.reset_index()
    day1['Only_time']=day1['Datetime'].apply(lambda x:x.time)
    x=day1[(x1>day1['Low'])&(x1<day1['High'])]['Only_time']
    l.append(x)
    
    day2=day2.reset_index()
    day2['Only_time']=day2['Datetime'].apply(lambda x:x.time)
    x=day2[(x2>day2['Low'])&(x2<day2['High'])]['Only_time']
    l.append(x)
    
    day3=day3.reset_index()
    day3['Only_time']=day3['Datetime'].apply(lambda x:x.time)
    x=day3[(x3>day3['Low'])&(x3<day3['High'])]['Only_time']
    l.append(x)
    
    day4=day4.reset_index()
    day4['Only_time']=day4['Datetime'].apply(lambda x:x.time)
    x=day4[(x4>day4['Low'])&(x4<day4['High'])]['Only_time']
    l.append(x)
    
    day5=day5.reset_index()
    day5['Only_time']=day5['Datetime'].apply(lambda x:x.time)
    x=day5[(x5>day5['Low'])&(x5<day5['High'])]['Only_time']
    l.append(x)
    
    dict1={
        'Stock':s,
        '2022-10-06':[l[0]],
        '2022-10-07':[l[1]],
        '2022-10-10':[l[2]],
        '2022-10-11':[l[3]],
        '2022-10-12':[l[4]]
    }
    return dict1

In [155]:
df6=pd.DataFrame(columns=['Stock','2022-10-06','2022-10-07','2022-10-10','2022-10-11','2022-10-12'])

In [156]:
for i in combine:
    print(i)
    a=pd.DataFrame(func2(i))
    df6=pd.concat([df6,a])

ADANITRANS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JSWENERGY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ATGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIPORTS.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIENT.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ADANIGREEN.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GODREJPROP.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MANAPPURAM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BANDHANBNK.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BHARATFORG.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PAYTM.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PGHH.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [158]:
df

              2022-10-06 2022-10-07 2022-10-10 2022-10-11 2022-10-12
Stock
ADANITRANS.NS   09:36:00   14:05:00   15:20:00   13:33:00   12:59:00
JSWENERGY.NS    09:27:00   09:15:00   09:21:00   15:29:00   10:53:00
ATGL.NS         09:15:00   13:39:00   09:19:00   09:55:00   09:21:00
BOSCHLTD.NS     14:34:00   14:31:00   09:56:00   15:29:00   10:58:00
ADANIPORTS.NS   09:40:00   12:04:00   09:19:00   15:27:00   11:12:00
APOLLOTYRE.NS   15:29:00   11:23:00   09:19:00   15:01:00   11:12:00
ADANIENT.NS     09:25:00   12:10:00   14:03:00   09:15:00   13:14:00
ADANIGREEN.NS   09:18:00   12:01:00   09:15:00   15:15:00   11:22:00
GODREJPROP.NS   09:15:00   11:01:00   09:20:00   15:20:00   11:18:00
GUJGASLTD.NS    10:08:00   12:30:00   09:15:00   15:24:00   11:15:00
MANAPPURAM.NS   09:15:00   09:33:00   10:40:00   15:20:00   09:19:00
ASHOKLEY.NS     15:20:00   09:17:00   10:13:00   15:20:00   10:59:00
INDIGO.NS       14:52:00   09:41:00   09:18:00   15:29:00   13:40:00
BANDHANBNK.NS   09:15:00   09:42:00   09:24:00   15:25:00   11:10:00
ACC.NS          09:38:00   11:32:00   14:06:00   15:01:00   11:10:00
BHARATFORG.NS   09:15:00   09:15:00   09:21:00   15:29:00   11:11:00
PAYTM.NS        09:18:00   09:17:00   09:15:00   15:24:00   10:51:00
IGL.NS          15:16:00   12:28:00   14:27:00   15:29:00   11:17:00
PGHH.NS         14:23:00   12:31:00   09:25:00   15:19:00   09:28:00
ABB.NS          09:15:00   09:32:00   10:05:00   15:29:00   09:22:00

In [160]:
#K=.35
df2

,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
Stock,,,,,
ADANITRANS.NS,0 09:15:00 1 09:16:00 3 09:18:0...,0 09:15:00 2 09:17:00 6 09:21:00 1...,3 09:18:00 4 09:19:00 5 09:20:0...,"1 09:16:00 Name: Only_time, dtype: object",4 09:19:00 5 09:20:00 6 09:21:0...
JSWENERGY.NS,10 09:25:00 12 09:27:00 13 09:28:00 1...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 12 09:27:0...,36 09:51:00 37 09:52:00 40 09:55:00 5...,6 09:21:00 7 09:22:00 46 10:01:0...
ATGL.NS,"0 09:15:00 Name: Only_time, dtype: object","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 2 09:17:00 3 09:18:0...,0 09:15:00 134 11:29:00 135 11:30:0...,"6 09:21:00 Name: Only_time, dtype: object"
BOSCHLTD.NS,300 14:31:00 301 14:32:00 302 14:33:0...,0 09:15:00 2 09:17:00 17 09:32:0...,6 09:21:00 34 09:50:00 35 09:51:00 5...,36 09:54:00 45 10:04:00 46 10:05:0...,54 10:10:00 74 10:30:00 118 11:14:0...
ADANIPORTS.NS,0 09:15:00 1 09:16:00 40 09:55:0...,15 09:30:00 19 09:34:00 20 09:35:0...,0 09:15:00 1 09:16:00 2 09:17:0...,38 09:53:00 39 09:54:00 41 09:56:0...,7 09:22:00 50 10:05:00 51 10:06:0...
APOLLOTYRE.NS,1 09:16:00 86 10:41:00 87 10:42:0...,25 09:40:00 27 09:42:00 28 09:43:0...,0 09:15:00 2 09:17:00 14 09:29:00 7...,208 12:43:00 210 12:45:00 213 12:49:0...,3 09:18:00 4 09:19:00 5 09:20:0...
ADANIENT.NS,0 09:15:00 40 09:55:00 43 09:58:0...,26 09:41:00 27 09:42:00 79 10:34:0...,284 13:59:00 285 14:00:00 287 14:02:0...,"Series([], Name: Only_time, dtype: object)",1 09:16:00 3 09:18:00 4 09:19:00 1...
ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 4 09:19:00 7 09:22:0...,0 09:15:00 144 11:39:00 145 11:40:0...,0 09:15:00 1 09:16:00 7 09:22:0...,6 09:21:00 7 09:22:00 9 09:24:00 1...
GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 5 09:20:0...,3 09:18:00 5 09:20:00 6 09:21:0...,58 10:13:00 73 10:28:00 74 10:29:00 7...,1 09:16:00 10 09:25:00 11 09:26:0...
GUJGASLTD.NS,29 09:44:00 30 09:45:00 31 09:46:00 3...,0 09:15:00 1 09:16:00 15 09:30:00 2...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 2 09:17:00 Name...,6 09:21:00 16 09:31:00 17 09:32:00 2...
MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 4 09:19:0...,0 09:15:00 1 09:16:00 17 09:32:0...,0 09:15:00 34 09:49:00 35 09:50:0...,"Series([], Name: Only_time, dtype: object)"
ASHOKLEY.NS,0 09:15:00 324 14:39:00 329 14:44:0...,1 09:16:00 4 09:19:00 5 09:20:00 6...,"0 09:15:00 Name: Only_time, dtype: object","0 09:15:00 Name: Only_time, dtype: object",1 09:16:00 7 09:22:00 8 09:23:0...
INDIGO.NS,0 09:15:00 26 09:41:00 30 09:45:00 3...,"0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 22 09:37:00 23 09:38:00 3...,39 09:54:00 40 09:55:00 41 09:56:0...,0 09:15:00 1 09:16:00 24 09:39:00 2...
BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 209 12:44:0...,0 09:15:00 164 11:59:00 165 12:00:0...,4 09:19:00 34 09:49:00 35 09:50:0...,1 09:16:00 2 09:17:00 6 09:21:0...
ACC.NS,18 09:33:00 19 09:34:00 43 09:58:00 4...,101 10:56:00 102 10:57:00 107 11:02:0...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 4 09:19:0...,1 09:16:00 2 09:17:00 3 09:18:0...
BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 1 09:16:00 18 09:33:00 1...,0 09:15:00 1 09:16:00 2 09:17:00 4...,16 09:31:00 17 09:32:00 21 09:36:00 2...
PAYTM.NS,1 09:16:00 2 09:17:00 3 09:18:00 Name...,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",41 09:56:00 111 11:06:00 112 11:07:0...,5 09:20:00 10 09:25:00 11 09:26:00 2...
IGL.NS,22 09:37:00 23 09:38:00 24 09:39:00 2...,15 09:30:00 16 09:31:00 17 09:32:0...,"Series([], Name: Only_time, dtype: object)",1 09:16:00 2 09:17:00 3 09:18:00 4...,0 09:15:00 26 09:41:00 27 09:42:0...
PGHH.NS,"1 09:16:00 Name: Only_time, dtype: object","0 09:15:00 1 09:16:00 Name: Only_time, d...","Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 1 09:16:00 2 09:17:00 1...
ABB.NS,0 09:15:00 7 09:22:00 9 09:24:00 1...,16 09:31:00 19 09:34:00 26 09:41:0...,"0 09:15:00 Name: Only_time, dtype: object",58 10:13:00 59 10:14:00 60 10:15:0...,2 09:17:00 18 09:33:00 19 09:34:0...

In [161]:
#k=.5
df3

,Stock,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
0,ADANITRANS.NS,0 09:15:00 1 09:16:00 3 09:18:0...,0 09:15:00 7 09:22:00 9 09:24:00 1...,3 09:18:00 4 09:19:00 297 14:12:0...,"0 09:15:00 1 09:16:00 Name: Only_time, d...",53 10:08:00 54 10:09:00 59 10:14:0...
0,JSWENERGY.NS,"12 09:27:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 12 09:27:0...,40 09:55:00 54 10:09:00 55 10:10:00 5...,7 09:22:00 46 10:01:00 310 14:28:0...
0,ATGL.NS,"Series([], Name: Only_time, dtype: object)","0 09:15:00 5 09:20:00 Name: Only_time, d...",0 09:15:00 3 09:18:00 11 09:26:0...,0 09:15:00 119 11:14:00 127 11:22:0...,"Series([], Name: Only_time, dtype: object)"
0,BOSCHLTD.NS,"Series([], Name: Only_time, dtype: object)",221 13:28:00 222 13:29:00 236 13:43:0...,38 09:54:00 41 09:57:00 52 10:08:00 N...,41 10:00:00 42 10:01:00 43 10:02:0...,55 10:11:00 56 10:12:00 65 10:21:0...
0,ADANIPORTS.NS,0 09:15:00 1 09:16:00 2 09:17:0...,17 09:32:00 18 09:33:00 23 09:38:0...,0 09:15:00 2 09:17:00 11 09:26:0...,45 10:00:00 46 10:01:00 58 10:13:0...,58 10:13:00 59 10:14:00 60 10:15:0...
0,APOLLOTYRE.NS,96 10:51:00 97 10:52:00 98 10:53:0...,79 10:34:00 94 10:49:00 151 11:46:0...,2 09:17:00 11 09:26:00 12 09:27:00 1...,240 13:16:00 241 13:17:00 242 13:18:0...,2 09:17:00 115 11:10:00 116 11:11:0...
0,ADANIENT.NS,0 09:15:00 1 09:16:00 33 09:48:0...,99 10:54:00 100 10:55:00 109 11:04:0...,288 14:03:00 289 14:04:00 291 14:06:0...,"Series([], Name: Only_time, dtype: object)",4 09:19:00 5 09:20:00 6 09:21:00 7...
0,ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 4 09:19:00 8 09:23:0...,0 09:15:00 143 11:38:00 144 11:39:0...,0 09:15:00 7 09:22:00 8 09:23:0...,6 09:21:00 50 10:05:00 54 10:09:00 5...
0,GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 6 09:21:0...,"5 09:20:00 Name: Only_time, dtype: object","75 10:30:00 Name: Only_time, dtype: object",1 09:16:00 2 09:17:00 4 09:19:0...
0,GUJGASLTD.NS,30 09:45:00 36 09:51:00 37 09:52:00 3...,"22 09:37:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)","2 09:17:00 Name: Only_time, dtype: object",6 09:21:00 7 09:22:00 8 09:23:00 9...
0,MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 14 09:29:0...,0 09:15:00 9 09:24:00 10 09:25:0...,36 09:51:00 37 09:52:00 39 09:54:0...,"Series([], Name: Only_time, dtype: object)"
0,ASHOKLEY.NS,324 14:39:00 325 14:40:00 326 14:41:0...,2 09:17:00 4 09:19:00 7 09:22:00 1...,"0 09:15:00 Name: Only_time, dtype: object","0 09:15:00 Name: Only_time, dtype: object",1 09:16:00 7 09:22:00 9 09:24:0...
0,INDIGO.NS,2 09:17:00 3 09:18:00 6 09:21:00 1...,0 09:15:00 2 09:17:00 3 09:18:00 Name...,0 09:15:00 14 09:29:00 15 09:30:00 1...,50 10:05:00 51 10:06:00 53 10:08:0...,0 09:15:00 1 09:16:00 2 09:17:00 2...
0,BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 3 09:18:0...,0 09:15:00 15 09:30:00 53 10:08:0...,4 09:19:00 36 09:51:00 38 09:53:0...,101 10:56:00 149 11:44:00 150 11:45:0...
0,ACC.NS,19 09:34:00 26 09:41:00 27 09:42:00 2...,102 10:57:00 110 11:05:00 111 11:06:0...,"Series([], Name: Only_time, dtype: object)",0 09:15:00 10 09:25:00 11 09:26:0...,2 09:17:00 4 09:19:00 10 09:25:0...
0,BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",0 09:15:00 2 09:17:00 17 09:32:00 1...,0 09:15:00 5 09:20:00 6 09:21:00 1...,62 10:17:00 78 10:33:00 80 10:35:00 8...
0,PAYTM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",111 11:06:00 119 11:14:00 124 11:19:0...,5 09:20:00 6 09:21:00 7 09:22:00 8...
0,IGL.NS,29 09:44:00 30 09:45:00 31 09:46:00 N...,75 10:30:00 78 10:33:00 79 10:34:0...,"0 09:15:00 Name: Only_time, dtype: object","13 09:28:00 Name: Only_time, dtype: object",0 09:15:00 1 09:16:00 2 09:17:0...
0,PGHH.NS,1 09:16:00 247 13:56:00 328 15:19:0...,1 09:16:00 2 09:17:00 3 09:18:00 8 ...,"Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)"
0,ABB.NS,0 09:15:00 7 09:22:00 8 09:23:00 1...,16 09:31:00 18 09:33:00 108 11:03:0...,"0 09:15:00 1 09:16:00 Name: Only_time, d...",58 10:13:00 320 14:38:00 321 14:39:0...,2 09:17:00 3 09:18:00 13 09:28:0...

In [162]:
#K=1
df4

,Stock,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
0,ADANITRANS.NS,1 09:16:00 4 09:19:00 8 09:23:0...,14 09:29:00 15 09:30:00 17 09:32:00 2...,297 14:12:00 354 15:09:00 358 15:13:0...,0 09:15:00 4 09:19:00 6 09:21:00 8...,60 10:15:00 61 10:16:00 62 10:17:0...
0,JSWENERGY.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 2 09:17:0...,40 09:55:00 41 09:56:00 46 10:01:0...,48 10:03:00 49 10:04:00 50 10:05:0...
0,ATGL.NS,"Series([], Name: Only_time, dtype: object)",2 09:17:00 3 09:18:00 7 09:22:00 8...,3 09:18:00 4 09:19:00 5 09:20:00 6...,0 09:15:00 9 09:24:00 12 09:27:0...,"Series([], Name: Only_time, dtype: object)"
0,BOSCHLTD.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",201 13:09:00 202 13:10:00 204 13:12:0...,93 10:49:00 94 10:50:00 96 10:52:0...
0,ADANIPORTS.NS,10 09:25:00 11 09:26:00 12 09:27:0...,95 10:50:00 200 12:35:00 206 12:41:0...,"4 09:19:00 Name: Only_time, dtype: object",206 12:41:00 207 12:42:00 209 12:44:0...,92 10:47:00 126 11:21:00 127 11:22:0...
0,APOLLOTYRE.NS,"Series([], Name: Only_time, dtype: object)",126 11:21:00 127 11:22:00 131 11:26:0...,3 09:18:00 4 09:19:00 5 09:20:00 6...,255 13:31:00 256 13:32:00 259 13:35:0...,"Series([], Name: Only_time, dtype: object)"
0,ADANIENT.NS,2 09:17:00 3 09:18:00 4 09:19:00 5...,127 11:22:00 130 11:25:00 131 11:26:0...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",16 09:31:00 18 09:33:00 22 09:37:00 2...
0,ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)",0 09:15:00 1 09:16:00 2 09:17:0...,0 09:15:00 78 10:33:00 79 10:34:0...,10 09:25:00 11 09:26:00 21 09:36:0...,77 10:32:00 78 10:33:00 79 10:34:00 8...
0,GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)",2 09:17:00 3 09:18:00 14 09:29:0...,"Series([], Name: Only_time, dtype: object)",79 10:34:00 80 10:35:00 81 10:36:0...,123 11:18:00 124 11:19:00 126 11:21:0...
0,GUJGASLTD.NS,"Series([], Name: Only_time, dtype: object)",24 09:39:00 25 09:40:00 42 09:57:00 N...,"Series([], Name: Only_time, dtype: object)",14 09:29:00 15 09:30:00 27 09:42:00 2...,46 10:01:00 47 10:02:00 49 10:04:0...
0,MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",3 09:18:00 5 09:20:00 6 09:21:0...,107 11:02:00 205 12:40:00 206 12:41:0...,"Series([], Name: Only_time, dtype: object)"
0,ASHOKLEY.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object",1 09:16:00 2 09:17:00 3 09:18:00 Name...,2 09:17:00 4 09:19:00 5 09:20:0...
0,INDIGO.NS,97 10:52:00 98 10:53:00 101 10:56:0...,"4 09:19:00 Name: Only_time, dtype: object",1 09:16:00 2 09:17:00 3 09:18:00 5...,"Series([], Name: Only_time, dtype: object)",6 09:21:00 7 09:22:00 10 09:25:00 2...
0,BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)",14 09:29:00 75 10:30:00 86 10:41:0...,1 09:16:00 11 09:26:00 12 09:27:0...,197 12:32:00 199 12:34:00 270 13:47:0...,102 10:57:00 107 11:02:00 108 11:03:0...
0,ACC.NS,22 09:37:00 23 09:38:00 24 09:39:00 N...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",66 10:21:00 67 10:22:00 68 10:23:0...,6 09:21:00 7 09:22:00 113 11:08:0...
0,BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",4 09:19:00 5 09:20:00 10 09:25:00 1...,36 09:51:00 37 09:52:00 42 09:57:0...,91 10:46:00 92 10:47:00 195 12:30:0...
0,PAYTM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",240 13:16:00 241 13:17:00 242 13:18:0...,"54 10:09:00 Name: Only_time, dtype: object"
0,IGL.NS,53 10:08:00 54 10:09:00 80 10:35:00 N...,106 11:01:00 108 11:03:00 115 11:10:0...,"0 09:15:00 Name: Only_time, dtype: object",39 09:54:00 40 09:55:00 41 09:56:00 4...,4 09:19:00 6 09:21:00 103 10:58:0...
0,PGHH.NS,9 09:24:00 16 09:31:00 18 09:33:0...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",1 09:16:00 4 09:19:00 5 09:20:00 6...,"Series([], Name: Only_time, dtype: object)"
0,ABB.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",3 09:18:00 18 09:33:00 19 09:34:0...,333 14:51:00 334 14:52:00 335 14:53:0...,4 09:19:00 5 09:20:00 6 09:21:0...

In [163]:
#K=2
df5

,Stock,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
0,ADANITRANS.NS,"Series([], Name: Only_time, dtype: object)",166 12:01:00 167 12:02:00 168 12:03:0...,"Series([], Name: Only_time, dtype: object)",38 09:53:00 39 09:54:00 40 09:55:0...,114 11:09:00 115 11:10:00 116 11:11:0...
0,JSWENERGY.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",105 11:00:00 106 11:01:00 107 11:02:0...,56 10:11:00 59 10:14:00 61 10:16:0...
0,ATGL.NS,"Series([], Name: Only_time, dtype: object)",17 09:32:00 18 09:33:00 23 09:38:00 2...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,BOSCHLTD.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","337 15:29:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)"
0,ADANIPORTS.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",340 14:57:00 341 14:58:00 342 14:59:0...,"Series([], Name: Only_time, dtype: object)"
0,APOLLOTYRE.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ADANIENT.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",50 10:05:00 51 10:06:00 52 10:07:0...
0,ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","0 09:15:00 6 09:21:00 Name: Only_time, d...",343 15:01:00 344 15:02:00 345 15:03:0...,96 10:51:00 100 10:55:00 101 10:56:0...
0,GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",235 13:11:00 236 13:12:00 237 13:13:0...,"Series([], Name: Only_time, dtype: object)"
0,GUJGASLTD.NS,"Series([], Name: Only_time, dtype: object)",80 10:35:00 81 10:36:00 83 10:38:00 8...,"Series([], Name: Only_time, dtype: object)",163 11:58:00 164 11:59:00 238 13:18:0...,85 10:40:00 87 10:42:00 88 10:43:0...
0,MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",351 15:08:00 352 15:09:00 Name: Only_tim...,"Series([], Name: Only_time, dtype: object)"
0,ASHOKLEY.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",2 09:17:00 3 09:18:00 4 09:19:0...,40 09:55:00 51 10:06:00 182 12:17:0...,103 10:58:00 104 10:59:00 Name: Only_tim...
0,INDIGO.NS,201 12:36:00 203 12:38:00 240 13:15:0...,4 09:19:00 5 09:20:00 17 09:32:0...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",115 11:10:00 116 11:11:00 117 11:12:0...
0,BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",342 15:00:00 344 15:02:00 362 15:20:0...,"Series([], Name: Only_time, dtype: object)"
0,ACC.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",241 13:17:00 242 13:18:00 243 13:19:0...,"Series([], Name: Only_time, dtype: object)"
0,BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","372 15:29:00 Name: Only_time, dtype: object",103 10:58:00 104 10:59:00 114 11:09:0...
0,PAYTM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",327 14:44:00 328 14:45:00 330 14:47:0...,93 10:48:00 94 10:49:00 102 10:57:0...
0,IGL.NS,132 11:27:00 134 11:29:00 135 11:30:0...,180 12:15:00 181 12:16:00 182 12:17:0...,"1 09:16:00 Name: Only_time, dtype: object",208 12:43:00 209 12:44:00 210 12:45:0...,"Series([], Name: Only_time, dtype: object)"
0,PGHH.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ABB.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",34 09:49:00 35 09:50:00 36 09:51:0...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"

In [164]:
#K=3.5
df6

,Stock,2022-10-06,2022-10-07,2022-10-10,2022-10-11,2022-10-12
0,ADANITRANS.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",256 13:32:00 257 13:33:00 258 13:34:0...,"Series([], Name: Only_time, dtype: object)"
0,JSWENERGY.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",313 14:30:00 314 14:31:00 315 14:32:0...,"Series([], Name: Only_time, dtype: object)"
0,ATGL.NS,"Series([], Name: Only_time, dtype: object)",256 13:34:00 341 14:59:00 344 15:02:0...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,BOSCHLTD.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ADANIPORTS.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,APOLLOTYRE.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ADANIENT.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",99 10:54:00 100 10:55:00 101 10:56:0...
0,ADANIGREEN.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","0 09:15:00 Name: Only_time, dtype: object","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,GODREJPROP.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,GUJGASLTD.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",361 15:23:00 363 15:25:00 366 15:28:0...,"Series([], Name: Only_time, dtype: object)"
0,MANAPPURAM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ASHOKLEY.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)",343 15:00:00 344 15:01:00 345 15:02:0...,"Series([], Name: Only_time, dtype: object)"
0,INDIGO.NS,"Series([], Name: Only_time, dtype: object)",21 09:36:00 24 09:39:00 25 09:40:0...,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,BANDHANBNK.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ACC.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,BHARATFORG.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,PAYTM.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,IGL.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,PGHH.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"
0,ABB.NS,"Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)","Series([], Name: Only_time, dtype: object)"